@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.pokedex-title {
  font-family: 'Pokemon Solid', sans-serif;
  color: #ffcb05; 
  text-shadow: 4px 4px #3b4cca;
  letter-spacing: 4px;
}

.pokeball-btn {
  width: 140px !important;
  height: 140px !important;
  z-index: 2;
}

.pokeball-sprite {
  width: 90% !important;
  height: 90% !important;
}

.bg-grass { background-color: #78C850; color: white; }
.bg-fire { background-color: #F08030; color: white; }
.bg-water { background-color: #6890F0; color: white; }
.bg-bug { background-color: #A8B820; color: white; }
.bg-normal { background-color: #A8A878; color: white; }
.bg-poison { background-color: #A040A0; color: white; }
.bg-electric { background-color: #F8D030; color: black; }
.bg-ground { background-color: #E0C068; color: black; }
.bg-fairy { background-color: #EE99AC; color: white; }
.bg-fighting { background-color: #C03028; color: white; }
.bg-psychic { background-color: #F85888; color: white; }
.bg-rock { background-color: #B8A038; color: white; }
.bg-ghost { background-color: #705898; color: white; }
.bg-ice { background-color: #98D8D8; color: black; }
.bg-dragon { background-color: #7038F8; color: white; }
.bg-flying { background-color: #A98FF3; color: white; }
.bg-steel { background-color: #B7B7CE; color: black; }
.bg-dark { background-color: #705746 !important; color: white !important; }