.bg-grass { background-color: #78C850 !important; color: white; }
.bg-fire { background-color: #F08030 !important; color: white; }
.bg-water { background-color: #6890F0 !important; color: white; }
.bg-bug { background-color: #A8B820 !important; color: white; }
.bg-normal { background-color: #A8A878 !important; color: white; }
.bg-poison { background-color: #A040A0 !important; color: white; }
.bg-electric { background-color: #F8D030 !important; color: black; }
.bg-ground { background-color: #E0C068 !important; color: black; }
.bg-fairy { background-color: #EE99AC !important; color: white; }
.bg-fighting { background-color: #C03028 !important; color: white; }
.bg-psychic { background-color: #F85888 !important; color: white; }
.bg-rock { background-color: #B8A038 !important; color: white; }
.bg-ghost { background-color: #705898 !important; color: white; }
.bg-ice { background-color: #98D8D8 !important; color: black; }
.bg-dragon { background-color: #7038F8 !important; color: white; }